<h1>{{title}}</h1>
{{#if conocido}}
<p>Hola {{nombre}}, te encanta {{accion}} <a href="/salir">Salir</a></p>
{{/if}}

{{#unless conocido}}
<form action="/ingresar" method="post">
    <p>Como te llamas?</p>
    <input type="text" name="nombre">
    <p>Que es lo que mas te gusta hacer?</p>
    <input type="text" name="accion">
    <button>Ingresar</button>
</form>
{{/unless}}